body {
  font-family: Liberation Sans, Arial, sans-serif;
  background-color: #fffaf7;
  line-height: 1.3;
}
main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}
header {
  margin-bottom: 1.5rem;
}
h1 {
  display: inline-block;
  margin-bottom: .5rem;
}
hr {
  border: 2px solid #ddd;
  margin: 2rem auto;
}
footer {
  margin-top: 2rem;
  text-align: center;
}
a {
  color: #ff3c3c;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}
::selection {
  background-color: #fff888;
}
#traces {
    float: right;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    line-height: 3rem;
    padding: 1rem 1rem;
    background-color: #ff3c3c;
    color: #fffaf7;
    font-weight: 700;
}
#traces:hover {
    background-color: #fff888;
    color: #000;
}